.button {
    display: inline-block;
    background: none;
    cursor: pointer;
    border: 2px solid transparent;
    padding: rem(12px) rem(18px);
    border-radius: 3px;
    @include font-sizes(body-text);
    @include font-family(base);
    @include font-weight(regular);
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition: .3s ease;
    transition-property: color, background-color, border;

    &:focus {
        outline: none;
    }

    &--primary {
        @include var(color, clr-white);
        @include var(background-color, clr-accent);

        &:hover {
            @include var(border-color, clr-accent);
            @include var(color, clr-accent);
            background-color: transparent;
        }
    }
    
    &--outline {
        @include var(border-color, clr-white);

        &:hover {
            @include var(border-color, clr-accent);
            @include var(color, clr-accent);
            @include var(background-color, clr-white)
        }
    }
}
