.search-bar {

    &__inner {
        position: relative;
        left: 0;
        top: -80px;
        @include z-index(z-tooltip);
        width: 100%;
        padding: rem(24px);
        background: #F7F7F7;
        border-radius: rem(8px);
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05)
        ;

        @include mq(medium) {
            top: -60px;
            padding: rem(32px) rem(16px);
        }
        
        @include mq(xlarge) {
            padding: rem(40px);
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;

        @include mq(medium) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:last-child {
            width: 100%;

            .button {
                width: 100%;
            }

            @include mq(large) {
                width: auto;
            }
        }

        &:not(:last-child) {
            margin-bottom: rem(24px);

            @include mq(large) {
                margin-bottom: 0;
            }
        }

        img {
            margin-right: rem(8px);
        }

    }
}