:root {
    @each $color, $val in $colors {
        --#{$color}: #{$val};
    }

    @each $key, $val in $z-index {
        --#{$key}: #{$val};
    }
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    
    /* Footer quede pegando en la parte inferior */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}