.hero {
    position: relative;
    margin-top: $header-hg;
    height: rem(648px);

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .3);
        @include z-index(z-normal);
        content: "";
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__inner {
        position: relative;
        @include z-index(z-tooltip);
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @include var(color, clr-white);
    }

    &__title {
        @include font-weight(regular);
        margin-bottom: rem(8px);
        @include var(color, clr-white);
    }

    &__slogan {
        @include font-sizes(title-3);
    }
}